/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
Author's custom styles
========================================================================== */

body {
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 14px;
}



header {
    text-align: center;
}

header h1 {
    font-family: "Roboto Slab", Roboto, "Open Sans", serif;
    font-size: 32px;
    font-weight: normal;
    color: #D11D11;
}

header hr {
    width: 20%;
    margin: auto;
}

header .subtitle {
    font-weight: lighter;
    font-size: 20px;
}

header h2 {
    font-style: italic;
    font-size: 22px;
}

#carte {
    border: solid 1px #CCC;
    width: 80%;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    position: relative;
}

#carte svg {
    display: block;
    margin: auto;
}

#legende {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #FFF;
    padding: 20px 30px;
    border: solid 1px #CCC;
}

#legende > div {
    clear: both;
    margin-bottom: 10px;
}

#legende > div > div {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

#legende span {
    vertical-align: middle;
}

#legende > div#pour > div {
    background-color: #D11D11;
}

#legende > div#contre > div {
    background-color: #4C4946;
}

#legende > div#abstention > div {
    background-color: #9A9892;
}

#legende > div#absent > div {
    background-color: #DBDAD6;
}


/******************
 * MODALE
 ******************/

.modal .photo_depute {
    float: left;
    margin-right: 30px;
}

.modal h3 {
    font-family: "Roboto Slab", "Open Sans", serif;
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 10px;
}

.modal .attributs {
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: #7F7F7F;
    margin-top: 0;
}

.modal .stamp {
    position: absolute;
    right: 30px;
    top: 40px;
    -ms-transform: rotate(20deg); 
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    height: 100px;
}

.modal .message_vote {
    font-size: 18px;
    background: #EEE;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 0
}

.modal .message_vote span {
    font-weight: bold;
}

.modal h4 {
    font-weight: lighter;
    font-size: 22px;
}

.modal .container-contact {
    display: table;
}

.modal .contact {
    border-left: solid 5px #962E27;
    display: inline-block;
    vertical-align: top;
    padding: 10px 10px 10px 30px;  
    width: 50%; 
    display: table-cell;
}

.modal .contact h5 {
    padding-left: 50px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
}

.modal .contact.mail h5 {
    background-image: url(../img/mail.svg);
}

.modal .contact.courrier h5 {
    background-image: url(../img/courrier.svg);
}

.modal .twitter {
    text-align: center;   
    margin: 30px 0;
}

.modal .twitter a {
    padding-left: 40px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
    background-image: url(../img/twitter.svg);
}



/* ==========================================================================
Media Queries
========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}

/* ==========================================================================
Helper classes
========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
Print styles
========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*
html, body { margin:0; padding:0; overflow:hidden }
svg { position:fixed; top:0; bottom:0; left:0; right:0 }
 */

.circo {
    fill-opacity:0.5;
    fill-rule:evenodd;
    stroke-opacity:1;
    stroke:white;
    stroke-width:0.25;
    fill:#BFBFBF
}
.titre {
    font-size:40px;
    font-style:normal;
    font-weight:bold;
    line-height:125%;
    letter-spacing:0px;
    word-spacing:0px;
    fill:#000000;
    fill-opacity:1;
    stroke:none;
    font-family:Sans
}

.titres {
    font-size:16px;
    font-style:normal;
    font-weight:normal;
    line-height:125%;
    letter-spacing:0px;
    word-spacing:0px;
    fill:#000000;
    fill-opacity:1;
    stroke:none;
    font-family:Sans
}

.num_etranger {
    font-size:20px;
    font-style:normal;
    font-weight:normal;
    line-height:125%;
    letter-spacing:0px;
    word-spacing:0px;
    fill:#000000;
    fill-opacity:1;
    stroke:none;
    font-family:Sans
}

.vide {
    fill-opacity:0.5;
    fill-rule:evenodd;
    stroke-opacity:1;
    stroke:white;
    stroke-width:0.25;
    fill:#D9D9D9
}
.dep {
    pointer-events: none;
    fill:none;
    stroke:black;
    stroke-width:0.5
}

